/* MOBILE VIEW */

.content-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}
.welcome-message {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}
.workspace-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
}
/* === BASE STYLES (Mobile First) === */

.chat-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  place-content: center;
  place-items: center;
  margin-top: 50px;
  gap: 30px;
}
.chat-box {
  height: 150px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  padding: 15px;
  /* text-align: center; */
  color: #333;
  border: 1px solid grey;
  /* background-blend-mode: lighten; */
  font-size: 1.5rem;
  /* display: flex; */
}
.user-id {
  color: rgba(131, 131, 131, 0.61);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

/* Mobile icons span full width of 2 columns */
.mobile-icons {
  grid-column: span 2;
  background-color: grey;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide desktop on mobile by default */
.chat-desktop {
  display: none;
}

.chat-tablet {
  display: none;
}
.chat-content {
  color: #555;
  font-size: 1.2rem;
}

/* === TABLET VIEW === */
@media (min-width: 768px) and (max-width: 1023px) {
  .chat-tablet {
    display: grid;
    grid-template-columns: repeat(4, 150px);
  }
  .chat-mobile {
    display: none;
  }
  .chat-desktop {
    display: none;
  }
  .chat-content {
    color: #555;
    font-size: 1.2rem;
  }
}

/* === DESKTOP VIEW === */
@media (min-width: 1024px) {
  .chat-desktop {
    display: grid;
    grid-template-columns: repeat(5, 200px);
  }

  .chat-mobile {
    display: none;
  }
  .chat-tablet {
    display: none;
  }
  .chat-content {
    color: black;
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
